<section id="display">
    <div class="wrap">
        <div id="form-container">
            <form (ngSubmit)="onSubmit()">
                <input type="text" placeholder="Nombre o código" name="search" [(ngModel)]="inputSearch">
                <div>
                    <button mat-button type="submit" id="button-search-pokemon" class="btn--search"><mat-icon class="icon">search</mat-icon></button>
                </div>
            </form>
            <form (ngSubmit)="onRandomSubmit()">
                <div>
                    <button mat-button type="submit" id="button-search-random-pokemon" class="btn--random"><mat-icon class="icon">shuffle</mat-icon></button>
                </div>
            </form>
        </div>
        <div id="sprite-container">
            <ng-container *ngIf="pokemon && pokeSprite && shinySprite">
                <h2>Normal</h2>
                <hr>
                <img src="{{pokeSprite}}" alt="">
                <h2>Variocolor</h2>
                <hr>
                <img src="{{shinySprite}}" alt="">
            </ng-container>
        </div>
        <div id="info-container">
            <ng-container *ngIf="pokemon">
                <div class="title-pokemon">
                    <h1>{{pokemon.name}}</h1>
                    <h2>#{{pokemon.idPokedex}}</h2>
                </div>
                <h3>{{pokemon.generation}} Generación</h3>
                <p>{{pokemon.description}}</p>
                <h3>Debilidades</h3>
                <table>
                    <tr>
                        <td>(X4) Muy débil a:</td>
                        <td>
                            <ng-container *ngFor="let sW of sWeak">
                                <img src="{{sW.typeUrl}}" alt="" [routerLink]="['/pokemon/list/type', sW.idType]">
                            </ng-container>
                        </td>
                    </tr>
                    <tr>
                        <td>(X2) Débil a:</td>
                        <td>
                            <ng-container *ngFor="let w of weak">
                                <img src="{{w.typeUrl}}" alt="" [routerLink]="['/pokemon/list/type', w.idType]">
                            </ng-container>
                        </td>
                    </tr>
                    <tr>
                        <td>(X1) Normal a:</td>
                        <td>
                            <ng-container *ngFor="let dN of dNormal">
                                <img src="{{dN.typeUrl}}" alt="" [routerLink]="['/pokemon/list/type', dN.idType]">
                            </ng-container>
                        </td>
                    </tr>
                    <tr>
                        <td>(X1/2) Resistente a:</td>
                        <td>
                            <ng-container *ngFor="let r of res">
                                <img src="{{r.typeUrl}}" alt="" [routerLink]="['/pokemon/list/type', r.idType]">
                            </ng-container>
                        </td>
                    </tr>
                    <tr>
                        <td>(X1/4) Muy resistente a:</td>
                        <td>
                            <ng-container *ngFor="let sR of sRes">
                                <img src="{{sR.typeUrl}}" alt="" [routerLink]="['/pokemon/list/type', sR.idType]">
                            </ng-container>
                        </td>
                    </tr>
                    <tr>
                        <td>(X0) Inmune a:</td>
                        <td>
                            <ng-container *ngFor="let i of inm">
                                <img src="{{i.typeUrl}}" alt="" [routerLink]="['/pokemon/list/type', i.idType]">
                            </ng-container>
                        </td>
                    </tr>
                </table>
                <h3>Fortalezas</h3>
                <table>
                    <tr>
                        <td>(X2) Efectivo a:</td>
                        <td>
                            <ng-container *ngFor="let e of efc">
                                <img src="{{e.typeUrl}}" alt="" [routerLink]="['/pokemon/list/type', e.idType]">
                            </ng-container>
                        </td>
                    </tr>
                    <tr>
                        <td>(X1) Normal a:</td>
                        <td>
                            <ng-container *ngFor="let a of aNormal">
                                <img src="{{a.typeUrl}}" alt="" [routerLink]="['/pokemon/list/type', a.idType]">
                            </ng-container>
                        </td>
                    </tr>
                    <tr>
                        <td>(X1/2) Poco efectivo a:</td>
                        <td>
                            <ng-container *ngFor="let nE of nEfc">
                                <img src="{{nE.typeUrl}}" alt="" [routerLink]="['/pokemon/list/type', nE.idType]">
                            </ng-container>
                        </td>
                    </tr>
                    <tr>
                        <td>(X0) Sin daño a:</td>
                        <td>
                            <ng-container *ngFor="let nD of nDam">
                                <img src="{{nD.typeUrl}}" alt="" [routerLink]="['/pokemon/list/type', nD.idType]">
                            </ng-container>
                        </td>
                    </tr>
                </table>
            </ng-container>
        </div>
    </div>
</section>
