<section id="list">
    <div class="wrap">
        <div id="form-container">
            <form (ngSubmit)="onSubmit()">
                <input type="text" placeholder="Nombre o código" name="search" [(ngModel)]="inputSearch">
                <div>
                    <button mat-button type="submit" id="button-search-pokemon" class="btn--search"><mat-icon class="icon">search</mat-icon></button>
                </div>
            </form>
            <form (ngSubmit)="onRandomSubmit()">
                <div>
                    <button mat-button type="submit" id="button-search-random-pokemon" class="btn--random"><mat-icon class="icon">shuffle</mat-icon></button>
                </div>
            </form>
        </div>
        <div id="criteria-container">
            
        </div>
        <div id="table-container">
            <table>
                <tr>
                    <th>#</th>
                    <th>Sprite</th>
                    <th>Nombre</th>
                    <th>Tipos</th>
                </tr>
                <ng-container *ngIf="infoPoke">
                    <tr *ngFor="let poke of infoPoke">
                        <td [routerLink]="['/pokemon/display', poke.idPokedex]">{{poke.idPokedex}}</td>
                        <td [routerLink]="['/pokemon/display', poke.idPokedex]">
                            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{poke.idPokedex}}.png" alt="" class="sprite">
                        </td>
                        <td [routerLink]="['/pokemon/display', poke.idPokedex]">{{poke.name}}</td>
                        <td>
                            <ng-container *ngFor="let type of poke.types">
                                <img src="https://play.pokemonshowdown.com/sprites/types/{{type.name}}.png" alt="" class="type" (click)="typeList(type.idType)">
                            </ng-container>
                        </td>
                    </tr>
                </ng-container>
            </table>
        </div>
    </div>
</section>