<section id="home">
    <div class="wrap">
        <div id="container">
            <form (ngSubmit)="onSubmit()">
                <input type="text" placeholder="Nombre o código" name="search" id="search">
                <div>
                    <button mat-button type="submit" id="button-search-pokemon" class="btn--search"><mat-icon class="icon">search</mat-icon></button>
                </div>
            </form>
            <form (ngSubmit)="onRandomSubmit()">
                <div>
                    <button mat-button type="submit" id="button-search-random-pokemon" class="btn--random"><mat-icon class="icon">shuffle</mat-icon></button>
                </div>
            </form>
        </div>
    </div>
</section>